.form{
  width: 50%;
  height: 90%;

  margin: auto;
}

.form h1{
  color: white;
  font-size: 38px;

}
.form th{
  font-size: 20px;
  color: white;
  margin-left: 10%;
}
 h4{
margin-left: 80px;

 }
button{
  margin-left:100px;
}
#buton{
  margin-left: 5%;
  background-color: #19466A;
  width: 100px;
  height: 40px;
}
